<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap" rel="stylesheet">
  </head>
  <body>
     <div id="outerbox">
      <div id="innerbox">
        <div id="navigationbar">
        <div id="logo"> 
          <img class="networklogo"  src="/assets/images/network.png">
          <span class="networkfont">NETWORK</span>
        </div>
        </div>
        <div class="heropart"><p><span class="heropara">Collect</span> &nbsp; &nbsp;  &nbsp;
          <span class="heropara1">Your</span> <br><br> <br>  <span class="heropara">Own</span> <br> <br> <br> 
          <span class="heropara">Network</span></p> <br> <button routerLink="/loginpage" class="nowbutton">Now</button></div>
      </div>
     </div>
  </body>
</html>
