<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6e416a56bb.js" crossorigin="anonymous"></script>
  </head>
  <body>
     <div id="outerbox">
      <div id="innerbox">
        <div id="navigationbar">
        <div id="logo"> 
          <img class="networklogo"  src="/assets/images/network.png">
          <span class="networkfont">NETWORK</span>
        </div>
        <div><button routerLink="/adddetailsform"  id="addbutton">+Add</button></div>
        <div>
            <button  id="profilebutton" (click)="showElements=!showElements">Profile <img class="profilelogo" src="/assets/images/dropdown.png"> 
            </button>
        </div>
        <div id="profilecontentbox" *ngIf="showElements">
            <p class="profilename"> &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  Arunkumar <br><br><br><br><br><br><br><br>
                &nbsp;   arunjothi2599@gmail.com
            </p>
            <button class="logoutbutton"  (click)=" Logout()">Logout</button>
        </div>
        </div>
        <div id="showbox">
         <button id="tagbutton">Add Person Detail's </button>
         
         <div id="showbox1">
          <form > 
            <!-- #personForm="ngForm" (submit)="getData(personForm.value)" -->
          <div id="showbox2">
            
            <input ngModel type="text" class="typebutton" name="Name" placeholder="Name">
            
            <network-tag-selection></network-tag-selection>
            <!-- <select  class="tagbutton"  name="Tags" >
                <option value=" ">Tag's</option>
                <option value="intresting people's">Intresting people's</option>
                <option value="business people's">Business people's</option>
                <option value="idea people's">Idea People's</option>
                <option value="entertainment people's">Entertainment people's</option>
                <option value="talented people's">Talented people's</option>
                <option value="startup plan people's">Startup plan people's</option>
                <option value="create your own tag ">Create your own tag +</option>
            </select>  -->


          
            <input ngModel type="text" class="typebutton" name="location" placeholder="Place">
            <input ngModel type="text" class="typebutton" name="Number" placeholder="Contact Number">
            <input ngModel type="text" class="typebutton" name="Instagram" placeholder="Instagram" >
            <button routerLink="/mainpage" class="submitbutton">Submit</button>
            </div> 
          <div id="showbox3">
            <input ngModel type="text" class="typebutton" name="Facebook" placeholder="Facebook"> 
            <input ngModel type="text" class="typebutton" name="LinkedIn" placeholder="LinkedIn">
              <div id="profilepic">  <label class="photofont">Photo</label>
                <input type="file" class="profilecontent" name="profile_pic"
                      accept=".jpg, .jpeg, .png, .pdf, .doc">
            </div>
            <input ngModel type="text" class="describebutton" name="Description" placeholder="Description">
          </div> 
          </form>
         </div>   
        </div>
      </div>
     </div>
  </body>
</html>
