<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap"
  rel="stylesheet"
/>
<body>
  <div class="header">
    <img class="img" (click)="goTohome()" src="../../assets/img/logo.png" />
    <button id="signup" (click)="goTosignup()">Signup</button>
  </div>

  <div class="parent">
    <div class="center">
      <span class="login">Login</span>
      <br />
      <form [formGroup]="loginform" (ngSubmit)="onSubmit()">
        <div class="formgroup">
          <input
            type="text"
            id="usname"
            placeholder="Username"
            formControlName="usname"
          />
          <small
            class="text-red-600 pt-1"
            *ngIf="vname && vname.invalid && vname.touched"
            >Username is Required</small
          >
          <input
            type="password"
            id="pw"
            placeholder="Password"
            formControlName="pw"
          />
          <small
            class="text-red-600 pt-1"
            *ngIf="vpw && vpw.invalid && vpw.touched"
            >Use 8 or more characters with a mix of letters, numbers &
            symbols</small
          >
          <button id="submit">Submit</button>
          <!-- [disabled]="loginform.invalid" -->
        </div>
      </form>
    </div>
  </div>
</body>
<!-- onclick="usnamefunction()"  -->
<!-- (click)="goToprofile()" -->
