<html>

<head>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>


    <div class="border-b-4 border-white w-[100%] h-[10%]"><span
            class="header bg-white w-[10vw] h-[6vh] absolute  ml-[5vw] mt-[1.7vh] flex">
            <img src="/assets/networklogo.png" class="max-w-[2vw] ml-1">
            <span class="font-bold text-2xl text-center text-black ml-3 mt-1.5">NETWORK</span>
        </span></div>
    <div class="title mt-[28vh] text-white font-bold text-5xl ml-[5vw]">Collect Your <br><br>Own
        <br><br>Network
    </div>
    <a class=" header bg-[#BEE8D3]  h-[5vh] font-bold text-xl text-black text-center transition ease-in-out delay-150  hover:-translate-y-1 hover:scale-110  duration-300"
        mat-raised-button routerLink="/loginpage">Now</a>


</body>

</html>