<!-- <html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <div id="outerbox">
            <div id="innerbox">
              <div id="navigationbar">
              <div id="logo"> 
                <img class="networklogo"  src="/assets/images/network.png">
                <span class="networkfont">NETWORK</span>
              </div>
              <div><button (click)="goTosignuppage()" class="signupbutton">SignUp</button></div>
              </div>
              <form [formGroup] ="loginform" (ngSubmit)="onSubmit()">
              <div class="loginbox">
                <span ><button class="loginbutton">Login</button></span>
                <div><input type="text" id="name" name="name" placeholder="Username..." formControlName="usname"></div>
                
                <!-- <small *ngIf="vname && vname.invalid && vname.touched">Username is Required</small> -->
                
                <!-- <div><input type="text" id="pwd" name="password" placeholder="Password..."formControlName="pw"></div>
                <!-- <small  *ngIf="vpw && vpw.invalid && vpw.touched">Use 8 or more characters with a mix of
                  letters, numbers & symbols</small> -->
                <!-- <span ><button [disabled]="loginform.invalid" id="submitbutton" > Submit </button></span>
              </div>
              </form>
            </div>
           </div>
    </body>
</html> --> 


<!-- <html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <div id="outerbox">
            <div id="innerbox">
              <div id="navigationbar">
              <div id="logo"> 
                <img class="networklogo"  src="/assets/images/network.png">
                <span class="networkfont">NETWORK</span>
              </div>
              <div><button routerLink="/signuppage" class="signupbutton">SignUp</button></div>
              </div>
              <div class="loginbox">
                <span ><button class="loginbutton">Login</button></span>
                <div><input type="text" id="name" name="name" placeholder="Username..." ></div>
                <div><input type="text" id="pwd" name="password" placeholder="Password...">
                <small class="text-red-600 pt-1" *ngIf="vpassword && vpassword.invalid && vpassword.touched">Use 8
                    or more
                    characters with a mix
                    of
                    letters, numbers & symbols</small>
                </div>
                <span ><button id="submitbutton" > Submit </button></span>
              </div>
            </div>
           </div>
    </body>
</html> -->

<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <div id="outerbox">
            <div id="innerbox">
              <div id="navigationbar">
              <div id="logo"> 
                <img class="networklogo"  src="/assets/images/network.png">
                <span class="networkfont">NETWORK</span>
              </div>
              <div><button (click)="goTosignuppage()" class="signupbutton">SignUp</button></div>
              </div>
              <form class="loginbox"  [formGroup]="loginpage" (ngSubmit)="onSubmit()">
                <span ><button class="loginbutton">Login</button></span>
                <div class="unamecontent">
                  <div class="unamecontentbox">
                  <input type="text" id="name" name="name" formControlName="username" placeholder="Username..." >
                  <small class="unamerequired" *ngIf="vusername && vusername.invalid && vusername.touched">Username is Required</small>
                  </div>
                </div>
                <div class="pwordcontent">
                  <div>
                  <input type="text" id="pwd" name="password" formControlName="password" placeholder="Password...">
                  <small class="pwordrequired" *ngIf="vpassword && vpassword.invalid && vpassword.touched">Use 8
                    or more
                    characters with a mix
                    of
                    letters, numbers & symbols</small>
                </div>
                </div>
                <span ><button id="submitbutton"  [disabled]="loginpage.invalid" > Submit </button></span>
              </form>
            </div>
           </div>
    </body>
</html>