<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap"
  rel="stylesheet"
/>
<div class="container">
  <header>
    <img
      class="img"
      src="../../assets/img/logo.png"
      (click)="goTohome()"
      alt=""
    />
    <div>
      <button id="profile" (click)="showelements = !showelements">
        <b>Profile</b>
        <img class="h-6 w-6" src="../../assets/img/profile.png" alt="" />
      </button>
    </div>
    <div id="profilebox" *ngIf="showelements">
      <p class="flex pl-4">
        Username: {{ userdata.username }} <br />
        Mail: {{ userdata.mail }}
      </p>
      <button class="logout" (click)="goTohome()">Log Out</button>
    </div>
  </header>
  <div class="centerflex">
    <span class="addpersonaldetails">Add Personal Details</span>

    <form action="../addprofile/addprofile.component.ts" class="grid">
      <div class="left">
        <input id="name" type="text" placeholder="Full Name" #name />

        <div id="select">
          <mat-form-field class="example-chip-list" appearance="fill">
            <mat-label>Tags</mat-label>
            <mat-chip-list #chipList aria-label="Fruit selection">
              <mat-chip *ngFor="let fruit of fruits" (removed)="remove(fruit)">
                {{ fruit }}
                <button matChipRemove>
                  <mat-icon>
                    <img
                      src="../../assets/img/cancel.png"
                      alt=""
                    />cancel</mat-icon
                  >
                </button>
              </mat-chip>
              <input
                placeholder="New Tag..."
                #fruitInput
                [formControl]="fruitCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)"
              />
            </mat-chip-list>
            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="selected($event)"
            >
              <mat-option
                *ngFor="let fruit of filteredFruits | async"
                [value]="fruit"
              >
                {{ fruit }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <input id="place" type="text" placeholder="Place" />
        <input id="no" type="text" placeholder="Contact Number" />
        <input id="insta" type="text" placeholder="Instagram" />
      </div>

      <div class="right">
        <input id="facebook" type="text" placeholder="Facebook" />
        <input id="linkedin" type="text" placeholder="Linkedin" />
        <span id="photo"
          >Photo
          <input type="file" />
        </span>

        <input id="description" type="text" placeholder="Description" />
      </div>
    </form>

    <button id="submit" (click)="setValue(name.value)" (click)="goToprofile()">
      Submit
    </button>
  </div>
</div>
<!-- 
<mat-form-field class="example-chip-list" appearance="fill">
  <mat-label>Favorite Fruits</mat-label>
  <mat-chip-list #chipList aria-label="Fruit selection">
    <mat-chip
      *ngFor="let fruit of fruits"
      (removed)="remove(fruit)">
      {{fruit}}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
    <input 
      placeholder="New fruit..."
      #fruitInput
      [formControl]="fruitCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
      {{fruit}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field> -->
